<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="info-Box">
        <h1 class="detail-Head">Enter Details...</h1>

        <form action="/form" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="number" placeholder="contact" name="contact">
            <input type="text" placeholder="Place of Living" name="place">
            <button>Submit</button>
        </form>
    </div>
</body>

</html>