<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="head"> Ragister Yourself</h1> 
   <% db.forEach((elem)=>{ %>
        <div class="box">
            <h1><%= elem.name%></h1>
            <h3><%= elem.place%></h3>
            <h3><%= elem.contact%></h3>
        </div>
       
        
   <% }) %>
    <h1 class="add-head" ><a class="add" href="/form">Add Your Name</a></h1>
</body>
</html>